<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [16]:
# Insert a markdown cell to list Objectives

**Objectives:**
- Python
- R
- Java 
- SQL

In [3]:
# Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. R

In [4]:
# Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Numpy
3. Panda
4. Matplotlib

In [5]:
# Create a markdown cell with a table of Data Science tools

| Data Science Tools |
---------------------
| Apache Spark |
| R Studio |
| Apache Hadoop |

In [6]:
# Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# Create a code cell to multiply and add numbers

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# Create a code cell to convert minutes to hours

In [14]:
Minute = 200
h = Minute//60
print("Hour",h)

Hour 3

In [17]:
# Create a markdown cell to indicate the Author's name

**Author**

Ganesh Mahajan